In [1]:
1+1

2

In [11]:
1+1.0

2.0

In [12]:
1/2

0.5

In [13]:
1//2

0

In [14]:
1/2.0

0.5

In [15]:
2**4

16

In [16]:
20%3

2

In [17]:
20%3.0

2.0

In [18]:
[1,2,3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [19]:
x = 'Giri'
y =  23
print('My name is {} and age is {}'.format(x,y))
print('My name is {one} and age is {two}'.format(two=y,one=x))

My name is Giri and age is 23
My name is Giri and age is 23

In [20]:
s = 'Hello'

In [21]:
s[0]

'H'

In [22]:
s[:-1]

'Hell'

In [23]:
s[-1]

'o'

In [24]:
s = 'Giridhar'

In [25]:
print(s[0:4:2])

Gr

In [26]:
for i in range(len(s)):
    print(i, s[i])

0 G
1 i
2 r
3 i
4 d
5 h
6 a
7 r

In [27]:
s[::-1]

'rahdiriG'

In [28]:
a = [1,2,[3,4]]

In [29]:
a[2[1]]

TypeError: 'int' object is not subscriptable

In [32]:
a[2]

[3, 4]

In [33]:
a[2][1]

4

In [34]:
d = {'a':'America', 'b':'Brazil'}

In [35]:
d['b']

'Brazil'

In [36]:
d.keys()

dict_keys(['a', 'b'])

In [37]:
d.values()

dict_values(['America', 'Brazil'])

In [38]:
list_a = [1,2,3]

In [39]:
list_a[0] = 'First'

In [40]:
list_a

['First', 2, 3]

In [41]:
tuple_a = (1,2,3)

In [42]:
tuple_a[0]

1

In [43]:
tuple_a[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [ ]:
seq = [1,2,3,4]

def squarer(ele):
    return(ele**2)
    
list(map(squarer, seq))

In [ ]:
# lambda
list(map(lambda x:x**2, seq))

In [ ]:
import math
list(filter(lambda x:math.sqrt(x), seq))

In [ ]:
a = []
b = a
b.append(1)
a

In [ ]:
from copy import deepcopy
a = []
b = deepcopy(a)
b.append(1)
print(a)

In [ ]:
import numpy as np

In [ ]:
# series 1
ser1 = []
for i in range(23000):
    ser1.append(np.random.randint(1,100))

In [ ]:
len(ser1)

In [ ]:
# series 2
ser2 = []
for i in range(23000):
    ser2.append(np.random.randint(1,100))

In [ ]:
len(ser2)

In [ ]:
import pandas as pd

In [ ]:
ser1 = pd.Series(ser1)

In [ ]:
ser2 = pd.Series(ser2)

In [ ]:
data = pd.concat([ser1, ser2], axis=1)

In [ ]:
data

In [ ]:
data[data[0] == data[1]]

In [ ]:
exam1 = {'Name':['Giridhar','Phani','Sai'],'Marks_Science':[95,90,93],'Marks_Maths':[99,100,95]}
exam2 = {'Name':['Sai','Giridhar','Phani','Aditya'],'Marks_Maths':[96,100,99,100],'Marks_Science':[94,95,95,100],'Marks_Hindi':[90,95,97,100]}

In [ ]:
df_exam1 = pd.DataFrame(exam1)

In [ ]:
df_exam1

In [ ]:
df_exam2 = pd.DataFrame(exam2)

In [ ]:
df_exam2

In [44]:
cust = pd.merge(df_exam1, df_exam2, on='Name')
cust

NameError: name 'pd' is not defined

In [ ]:
inicols = df_exam1.columns

In [ ]:
fincols = cust.columns

In [ ]:
inicols = list(inicols)

In [ ]:
fincols = list(fincols)

In [ ]:
for col in inicols:
    fincols.index('')

In [ ]:
df_exam2

In [ ]:
for col in list(df_exam1.columns):
    print(df_exam2.columns.get_loc(col))

In [ ]:
df_exam1.columns

In [ ]:
df_exam2.columns

In [ ]:
for col in list(df_exam1.columns):
    # take the Series of resp col
    ser_1 = df_exam1[col]
    #ser_2 = df_exam2[df_exam2.columns.get_loc(col)]
    ser_2 = df_exam2[df_exam2.columns[df_exam2.columns.get_loc(col)]]

In [ ]:
df_exam2.columns.get_loc('Marks_Maths')

In [ ]:
df_exam2[df_exam2.columns[1]]

In [ ]:
ser_1

In [ ]:
ser_2

In [ ]:
cust

In [ ]:
new = pd.DataFrame(cust['Marks_Science_x'] == cust['Marks_Science_y'])
new = pd.DataFrame(merged[merged.columns[merged.columns.get_loc(col)]])

In [ ]:
new

In [ ]:
cust

In [ ]:
df_exam2.columns.get_loc(col)

In [ ]:
list(cust.columns)

In [ ]:
list(df_exam1.columns)

In [ ]:
res1 = 0
res2 = 0
newdf = pd.DataFrame()
for i in list(df_exam1.columns):
    print(i)
    if i+'_x' in list(cust.columns):
        res1 = list(cust.columns).index(i+'_x')
        print(res1)
    if i+'_y' in list(cust.columns):
        res2 =list(cust.columns).index(i+'_y')
        print(res2)
#     print(cust[cust.columns[res1]])
#     print(cust[cust.columns[res2]])
#     print(cust[cust.columns[res1]] == cust[cust.columns[res2]])
    
    # new df code
    ser_name = i
    ser = pd.Series(cust[cust.columns[res1]] == cust[cust.columns[res2]])
    newdf[ser_name] = ser

In [ ]:
cust.columns[1]

In [ ]:
newdf

In [ ]:
import os
os.getcwd()

# Numpy

In [ ]:
import numpy as np

In [ ]:
# 1 d array
one_d = np.array([0])

In [ ]:
type(one_d)

In [ ]:
one_d.shape

In [ ]:
mat = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [ ]:
mat

In [ ]:
# arange
arange = np.arange(1,10)

In [ ]:
arange

In [ ]:
# adding stepsize to arange
arange_step = np.arange(1,10,2)

In [ ]:
arange_step.shape

In [ ]:
arange_step

In [ ]:
# zeroes
zeros = np.zeros((2,4))

In [ ]:
zeros

In [ ]:
# ones
ones = np.ones((2,4))

In [ ]:
ones

In [ ]:
# linspace - linearly space inbetween a range and number of points.
lin = np.linspace(0,5,10)

In [ ]:
lin

In [ ]:
# identity
iden = np.eye(5)

In [ ]:
iden

In [ ]:
# arrays of random numbers

np.random.rand(3,4)

In [ ]:
np.random.rand(5)
# uniform distribution

In [ ]:
# normal distribution
np.random.randn(2)

In [ ]:
np.random.randn(3,4)

In [ ]:
# random integers
np.random.randint(1,1000,10)

In [ ]:
# useful attributes of array
arr = np.arange(25)

In [ ]:
arr

In [ ]:
arr.reshape(5,5)

In [ ]:
arr_rand = np.random.randint(1,100,25)

In [ ]:
arr_rand

In [ ]:
arr_rand.shape

In [ ]:
arr_rand.reshape(1,25)

In [ ]:
arr_rand.shape

In [ ]:
arr

In [ ]:
arr.max()

In [ ]:
arr.min()

In [ ]:
arr.argmax()

In [ ]:
arr_rand.max()

In [ ]:
arr_rand.min()

In [ ]:
arr_rand

In [ ]:
arr_rand.argmax()

In [ ]:
from numpy.random import randint
a  = randint(40,44)

In [ ]:
a

In [ ]:
# Numpy operations
# Array with Array operations
arr = np.arange(0,11)

In [ ]:
arr

In [ ]:
arr + arr

In [ ]:
arr - arr

In [ ]:
arr * arr

In [ ]:
# Array to Scalar.
arr - 1

In [ ]:
arr + 2

In [ ]:
arr * 5

In [ ]:
# Universal Array functions
np.sqrt(arr)

In [ ]:
np.exp(arr)

In [ ]:
arr.max()

In [ ]:
# Pandas

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
labels = ['A','B','C']
values = [10,20,30]
arr = np.array(values)
d = {'A':10, 'B':20, 'C':30}

In [ ]:
arr

In [ ]:
pd.Series(data = values)

In [ ]:
ser = pd.Series(data = values, index = labels)

In [ ]:
ser['A']

In [ ]:
pd.Series(arr)

In [ ]:
pd.Series(d)

In [ ]:
from numpy.random import randn

data = pd.DataFrame(randn(3,3),[1,2,3],['A','B','C'])

In [ ]:
data['A']

In [45]:
data

NameError: name 'data' is not defined

In [ ]:
data[['A','B']]

In [ ]:
data['D'] = data['A'] + data['B']

In [ ]:
data['D']

In [ ]:
data

In [ ]:
data.drop('D', axis = 1)

In [ ]:
data

In [ ]:
data.loc[1]

In [ ]:
type(data.loc[1])

In [ ]:
#index based location
data.iloc[0]

In [ ]:
data.loc[1]

In [ ]:
data.iloc[1:2]['B']

In [ ]:
data

In [ ]:
data

In [ ]:
# conditional selection

data[data['A'] < 1]

In [ ]:
data > 0

In [ ]:
data[data > 0]

In [ ]:
data

In [ ]:
(data['A'] > 1) & (data['B'] < 1)

In [47]:
import pandas as pd
# Multi level Index
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [51]:
from numpy.random import randn
df_mulind = pd.DataFrame(randn(6,2),hier_index, ['A','B'])
df_mulind

             A         B
G1 1 -0.634889 -0.757569
   2  1.689885  1.284219
   3  1.315586 -1.120049
G2 1 -0.969289  1.313675
   2 -1.196281 -0.435698
   3  0.980073 -0.403513

In [54]:
df_mulind.loc['G1'].loc[1]

A   -0.634889
B   -0.757569
Name: 1, dtype: float64

In [55]:
df_mulind

             A         B
G1 1 -0.634889 -0.757569
   2  1.689885  1.284219
   3  1.315586 -1.120049
G2 1 -0.969289  1.313675
   2 -1.196281 -0.435698
   3  0.980073 -0.403513

In [58]:
df_mulind.index.names = ['Groups','Num']

In [59]:
df_mulind

                   A         B
Groups Num
G1     1   -0.634889 -0.757569
       2    1.689885  1.284219
       3    1.315586 -1.120049
G2     1   -0.969289  1.313675
       2   -1.196281 -0.435698
       3    0.980073 -0.403513

In [60]:
df_mulind.loc['G2']

            A         B
Num
1   -0.969289  1.313675
2   -1.196281 -0.435698
3    0.980073 -0.403513

In [61]:
# cross section
df_mulind

                   A         B
Groups Num
G1     1   -0.634889 -0.757569
       2    1.689885  1.284219
       3    1.315586 -1.120049
G2     1   -0.969289  1.313675
       2   -1.196281 -0.435698
       3    0.980073 -0.403513

In [62]:
df.xs

<bound method NDFrame.xs of                    A         B
Groups Num
G1     1    1.960886  0.141713
       2   -2.456594 -0.300918
       3   -1.046695  0.688081
G2     1    0.672707 -1.276334
       2   -0.154418 -0.156390
       3   -0.179708 -1.327108>

In [31]:
str1 = '..e....ke.....'
str2 = str1.strip('.')
print(str2)

e....ke

In [23]:
type(str1)

str

In [24]:
len(str1)

5

In [25]:
str2

'bac'

In [75]:
str1 = 'Keerthana'

In [76]:
for i in str1:
    print(i+' ', end='')

K e e r t h a n a

In [80]:
str1 = 'Keerthana'
str1.replace('e','')

'Krthana'

In [83]:
str1 = '1 1 1'
str1.split(' ')

['1', '1', '1']

In [84]:
# cell compete problem

In [168]:
print('Enter the layout:')
present = [int(x) for x in input().split(' ')]
days = int(input('Enter no of days:'))

Enter the layout:
1 0 0 0 0 1 0 0
Enter no of days:2

In [169]:
present

[1, 0, 0, 0, 0, 1, 0, 0]

In [170]:
days

2

In [172]:

def cellcompete(present, days):
    # converting present into list
    day0 = present
    
    # logic
    ini_fin = 0
    temp = 0
    prev = 0
    for i in range(days):
        # implementing logic
        for i in range(len(day0)):
            temp = day0[i]
            print('for iteration ',i+1, ' temp= ', temp, ' prev= ', prev, 'next value= ',day0[i+1])
            # condition 1
            if prev == 0 and day0[i+1] == 0:
                day0[i] = 0
            if prev == 1 and day0[i+1] == 1:
                day0[i] = 0
            if prev == 0 and day0[i+1] == 1:
                day0[i] = 1
            if prev == 1 and day0[i+1] == 0:
                day0[i] = 1
            else:
                print('some issue')
            # to store the previous
            prev = temp
        print(day0)

In [173]:
cellcompete(present, days)

for iteration  1  temp=  1  prev=  0 next value=  0
some issue
for iteration  2  temp=  0  prev=  1 next value=  0
for iteration  3  temp=  0  prev=  0 next value=  0
some issue
for iteration  4  temp=  0  prev=  0 next value=  0
some issue
for iteration  5  temp=  0  prev=  0 next value=  1
some issue
for iteration  6  temp=  1  prev=  0 next value=  0
some issue
for iteration  7  temp=  0  prev=  1 next value=  0

IndexError: list index out of range

In [174]:
a = 5

In [175]:
a

5

In [179]:
# Missing values in DataFrames

In [182]:
from numpy.random import randn
import pandas as pd
import numpy as np

In [187]:
data = pd.DataFrame(randn(5,4),[i for i in range(5)],['A','B','C','D'])

In [196]:
data

          A         B         C         D
0       NaN -0.190061 -1.230049 -1.597224
1 -1.643990       NaN  0.004839 -0.358067
2 -0.406320 -0.152977       NaN  0.676811
3  1.975940 -1.124806  1.299667       NaN
4  0.093992  0.658399  1.257108  0.335701

In [195]:
data['D'][3] = 'nan'

In [197]:
data

          A         B         C         D
0       NaN -0.190061 -1.230049 -1.597224
1 -1.643990       NaN  0.004839 -0.358067
2 -0.406320 -0.152977       NaN  0.676811
3  1.975940 -1.124806  1.299667       NaN
4  0.093992  0.658399  1.257108  0.335701

In [198]:
type(data['D'][3])

numpy.float64

In [199]:
data.dropna()

          A         B         C         D
4  0.093992  0.658399  1.257108  0.335701

In [200]:
data

          A         B         C         D
0       NaN -0.190061 -1.230049 -1.597224
1 -1.643990       NaN  0.004839 -0.358067
2 -0.406320 -0.152977       NaN  0.676811
3  1.975940 -1.124806  1.299667       NaN
4  0.093992  0.658399  1.257108  0.335701

In [202]:
# To drop columns
data.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [203]:
# replacing missing values with fillna
data.fillna(value='filled')

           A         B           C         D
0     filled -0.190061    -1.23005  -1.59722
1   -1.64399    filled  0.00483881 -0.358067
2   -0.40632 -0.152977      filled  0.676811
3    1.97594  -1.12481     1.29967    filled
4  0.0939918  0.658399     1.25711  0.335701

In [204]:
data

          A         B         C         D
0       NaN -0.190061 -1.230049 -1.597224
1 -1.643990       NaN  0.004839 -0.358067
2 -0.406320 -0.152977       NaN  0.676811
3  1.975940 -1.124806  1.299667       NaN
4  0.093992  0.658399  1.257108  0.335701

In [207]:
data['A'].fillna(value = data['A'].mean())

0    0.004906
1   -1.643990
2   -0.406320
3    1.975940
4    0.093992
Name: A, dtype: float64

In [209]:
data['A'].mean()

0.004905686263344002

In [210]:
# group by

In [239]:
data = pd.DataFrame(np.random.rand(5,4), ['A','A','A','B','B'])

In [240]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon','Parrot', 'Parrot'],'Max Speed': [380., 370., 24., 26.]})

In [241]:
df

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

In [242]:
df.groupby(['Animal']).mean()

        Max Speed
Animal
Falcon      375.0
Parrot       25.0

In [243]:
data

          0         1         2         3
A  0.400625  0.808656  0.169242  0.693192
A  0.531725  0.480294  0.144025  0.917630
A  0.082543  0.776537  0.132854  0.027068
B  0.509277  0.828701  0.592441  0.074025
B  0.862299  0.495108  0.407575  0.350044

In [244]:
data.groupby([0]).mean()

                 1         2         3
0
0.082543  0.776537  0.132854  0.027068
0.400625  0.808656  0.169242  0.693192
0.509277  0.828701  0.592441  0.074025
0.531725  0.480294  0.144025  0.917630
0.862299  0.495108  0.407575  0.350044

In [1]:
# Merging joining and concatenating the dataframes

In [11]:
a = [1,2,3]

In [12]:
a.remove(2)

In [13]:
a

[1, 3]

In [14]:
a.pop()

3

In [15]:
a.pop()

1

In [16]:
a

[]

In [17]:
a = [1,2,1,3]

In [19]:
a.remove(1)

In [20]:
a

[2, 1, 3]

In [21]:
a.pop()

3

In [90]:
a = input()

can you can ?

In [98]:
a

'can you can ?'

In [99]:
li = a.split(' ')

In [100]:
li

['can', 'you', 'can', '?']

In [101]:
word = input()

can

In [102]:
N = int(input())

2

In [103]:
count = 0
for i in range(len(li)):
    print(i)
    if li[i] == word:
        count += 1
    if count == N:
        li.pop(i)
        break

0
1
2

In [104]:
li

['can', 'you', '?']

In [75]:
a = [1,2,3]
a.pop(3)

IndexError: pop index out of range

In [76]:
for i in range(5):
    print(i)

0
1
2
3
4

In [105]:
# Input and Output - DataFrames.