# Artificial Neural Network First try
# Classification problem
# Convolusional Neural Networks are used in CV.

# Theano - Numerical Computions library (based on Numpy). Runs on GPU too.
# GPU is better for NN. As parallel processing could be handled by GPU

# Tensorflow - Runs on CPU/GPU. Built by Google Brain
# We build Deep Neural Network from Scratch using Tensorflow and Tensorflow

# Keras - Automates the creation of Deep Neural Network with few lines of code
# Built at Google.

# Part 1 - Data Preprocessing

In [157]:
# importing all required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [158]:
# importing the dataset - Bank Churn analysis - Classification problem.
dataset = pd.read_csv('Churn_Modelling.csv')

In [159]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [160]:
# Impact of Independent Variables on Dependent Churn
# CreditScore, Geography, Gender, Age, Tenure, Balance, NumOfProducts, HasCrCard, IsActiveMember, EstimatedSalary
X = dataset.iloc[:,3:13].values

In [161]:
X.shape

(10000, 10)

In [162]:
# independent variable (Exited)
y = dataset.iloc[:, 13].values

In [163]:
y.shape

(10000,)

In [164]:
# We will be doing Onehot Encoding as we have Categorical variables
# from sklearn.preprocessing import OneHotEncoder, LabelEncoder
# labelencoder_Geography = LabelEncoder()
# labelencoder_Gender = LabelEncoder()
# # We will need to encode only Geography and Gender
# # for Geography
# X[:,1] = labelencoder_Gender.fit_transform(X[:,1])
# # for Gender
# X[:,2] = labelencoder_Gender.fit_transform(X[:,2])

# As Geography and Gender aren't ordinal (Categorical variables aren't ordinal)
# To remove dummy variable trap we are creating the onehot encoding only for Country.
#onehotencoder = OneHotEncoder(categories=[])

# NOTE - Categorical_features as previously used is deprecated and the new version supports direct usage 
# of onehotencoder instead of labelencoder.

# Link - https://stackoverflow.com/questions/54345667/onehotencoder-categorical-features-depreciated-how-to-transform-specific-column

# We can do either this
# from sklearn.preprocessing import OneHotEncoder
# from sklearn.compose import make_column_transformer
# A = make_column_transformer(
#     (OneHotEncoder(categories='auto'), [0]), 
#     remainder="passthrough")

# x=A.fit_transform(x)

# or

# from sklearn.preprocessing import OneHotEncoder
# from sklearn.compose import ColumnTransformer
# ct = ColumnTransformer([("Country", OneHotEncoder(), [0])], remainder = 'passthrough')
# X = ct.fit_transform(X)

In [165]:
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [166]:
# Initially label encoding
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
labelencoder_Geography = LabelEncoder()
labelencoder_Gender = LabelEncoder()
# We will need to encode only Geography and Gender
# for Geography
X[:,1] = labelencoder_Gender.fit_transform(X[:,1])
# for Gender
X[:,2] = labelencoder_Gender.fit_transform(X[:,2])

In [167]:
X.shape

(10000, 10)

In [168]:
X

array([[619, 0, 0, ..., 1, 1, 101348.88],
       [608, 2, 0, ..., 0, 1, 112542.58],
       [502, 0, 0, ..., 1, 0, 113931.57],
       ...,
       [709, 0, 0, ..., 0, 1, 42085.58],
       [772, 1, 1, ..., 1, 0, 92888.52],
       [792, 0, 0, ..., 1, 0, 38190.78]], dtype=object)

In [169]:
# then one hot encoding all the independent variables that are not ordinal
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([("Country", OneHotEncoder(), [1])], remainder = 'passthrough')
X = ct.fit_transform(X)

In [170]:
X.shape

(10000, 12)

In [171]:
X[0]

array([1.0, 0.0, 0.0, 619, 0, 42, 2, 0.0, 1, 1, 1, 101348.88],
      dtype=object)

In [172]:
# Here in the X[0] we can see the Country and Gender being modified using one-hot-encoder
# Now lets drop one of the columns in Country to avoid Dummy variable Trap, for Gender it is anyway 0,1 in the same columsn

In [173]:
X.shape

(10000, 12)

In [174]:
type(X)

numpy.ndarray

In [175]:
# 1 is the axis for column here.
# A 2-dimensional array has two corresponding axes: the first running vertically downwards across rows (axis 0), and the second running horizontally across columns (axis 1).
#X = np.delete(X,[0,3],1)
X = X[:, 1:]

In [176]:
X.shape

(10000, 11)

In [177]:
# Final X
X

array([[0.0, 0.0, 619, ..., 1, 1, 101348.88],
       [0.0, 1.0, 608, ..., 0, 1, 112542.58],
       [0.0, 0.0, 502, ..., 1, 0, 113931.57],
       ...,
       [0.0, 0.0, 709, ..., 0, 1, 42085.58],
       [1.0, 0.0, 772, ..., 1, 0, 92888.52],
       [0.0, 0.0, 792, ..., 1, 0, 38190.78]], dtype=object)

In [156]:
# Final X.shape
X.shape

(10000, 11)

In [178]:
X[0]

array([0.0, 0.0, 619, 0, 42, 2, 0.0, 1, 1, 1, 101348.88], dtype=object)

# Part 2 - Train Test Split

In [180]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [182]:
X_train.shape

(8000, 11)

In [183]:
X_test.shape

(2000, 11)

In [184]:
y_train.shape

(8000,)

In [185]:
y_test.shape

(2000,)

# Feature Scaling is very important as ANN is computation intensive.

In [186]:
from sklearn.preprocessing import StandardScaler

In [187]:
sc_X = StandardScaler()

In [189]:
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.fit_transform(X_test)

In [191]:
X_test

array([[ 1.62776996, -0.57427105, -0.56129438, ...,  0.66011376,
         0.97628121,  1.62185911],
       [-0.61433742, -0.57427105, -1.33847768, ...,  0.66011376,
        -1.02429504,  0.504204  ],
       [-0.61433742,  1.74133801,  0.58347561, ...,  0.66011376,
         0.97628121, -0.41865644],
       ...,
       [-0.61433742,  1.74133801, -0.76084144, ...,  0.66011376,
        -1.02429504,  0.72775202],
       [ 1.62776996, -0.57427105, -0.0046631 , ...,  0.66011376,
         0.97628121, -1.54162886],
       [ 1.62776996, -0.57427105, -0.81335383, ...,  0.66011376,
        -1.02429504,  1.62356528]])

In [194]:
X_train[0]

array([-0.5698444 ,  1.74309049,  0.16958176, -1.09168714, -0.46460796,
        0.00666099, -1.21571749,  0.8095029 ,  0.64259497, -1.03227043,
        1.10643166])